{
    "extends": ["airbnb/base"],
    "plugins": [],
    "parser": "babel-eslint",
    "globals": {
      "fetch": true,
      "window": true,
      "document": true
    },
    "rules": {
      "no-console": 0,
      "import/no-unresolved": 0,
      "import/extensions": 0,
      "quote-props": 0,
      "linebreak-style": 0
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true,
        "experimentalObjectRestSpread": true
      }
    }
  }